.project-nice-comp-lib-v1-banner {
  color: #EEE;
  .comp-lib-v1-banner-title {
    margin-top: 100px;
  }
  .comp-lib-v1-banner-description {
    margin-bottom: 0px;
  }
  a {
    color: #EEE;
  }
  .comp-lib-v1-banner-sub-description {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid white;
  }
}

.project-nice-article-summary {
  .project-nice-article-summary-title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 30px;
  }

  .project-nice-article-sub-description {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: auto;
  }

  .project-nice-article-summary {
    margin-top: 10px;
  }
}

.project-nice-article-item {
  .project-nice-article-item-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  .project-nice-article-item-sub-description {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: auto;
  }

  .project-nice-article-item-excerpt {
    margin-top: 10px;
  }
}
